body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 400px;
  padding: 40px;
  background: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.input-field:focus {
  border: 1px solid #333;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: #8f93f6;
  color: #fff;
  font-size: 16px;
  transition: 0.3s;
}

.btn:hover {
  background: #6f95f6;
}

.link {
  text-decoration: none;
  color: blue;
  font-size: 16px;
  transition: 0.5s;
}